.crazy
{
    background-color: red;
}
.black
{
    background-color: orange;
}
.small{
    background-color: yellow;
}
.farenhit{
    background-color: #ff8080;
}
.b4{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
